#bg {
    background-image: url("img2.jpg");
    background-position: center center;
    position: absolute;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    z-index: -1;
    filter: blur(5px);
}

#letterblock {
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    width: 720px;
    height: 1080px;
    max-width: 720px;
    max-height: 1080px;
    margin: auto;
    box-shadow: 0px 0px 100px;
}

#content {
    width: 68%;
    height: 75%;
    margin: auto;
}

p {
    font-family: "Meow Script", cursive;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 20px;
    color: #002464;
}

p#t1 {
    font-size: 50px;
}

p#name {
    font-family: "Praise", cursive;
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 2px;
    color: #fc365f;
}

p.description {
    width: 85%;
    margin: auto;
    line-height: 45px;
}

p.shantell-sans {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #e75f44;
}
