#bg {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: -1;
    filter: blur(5px);
}

#letterblock {
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 35.5%;
    height: 1080px;
    max-width: 720px;
    max-height: 1080px;
    margin: auto;
    box-shadow: 0px 0px 100px;
}

#content {
    position: absolute;
    width: 75%;
    
}

